.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
}

.strike-zone-container {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px; /* Adjust the max-width as needed */
  margin: 0 auto;
}

.strike-zone-image {
  display: block;
  width: 100%;
  height: auto;
}

.pitch-circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.legend-color {
  margin: auto;
  margin-top: 35%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.Fastball {
  background-color: red; 
}

.Curveball {
  background-color: blue;
}

.Slider {
  background-color: green;
}
.Changeup {
  background-color: orange;
}
.Sinker {
  background-color: lightblue;
}
.Cutter {
  background-color: yellow;
}
.Splitter {
  background-color: pink;
}
.Knuckleball {
  background-color: purple;
}

::-webkit-scrollbar {
  width: 1em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: --primary-color;
  outline: 1px solid slategrey;
}